@import '__styles__/media';

$element-spacing-base: 0px;
$element-spacing-xsmall: 4px;
$element-spacing-small: 8px;
$element-spacing-medium: 12px;
$element-spacing-large: 24px;
$element-spacing-xlarge: 32px;

@mixin grid-spacing() {
  width: 100%;
  margin: 0px auto;

  @media(max-width: $width-tablet - 1px) and (min-width: $width-desktop - 1px) {
    width: 100%;
  }

  @media(min-width: $width-desktop) {
    width: 1564px;
  }
}
