$element-spacing-base: 0px;
$element-spacing-xsmall: 4px;
$element-spacing-small: 8px;
$element-spacing-medium: 12px;
$element-spacing-large: 24px;
$element-spacing-xlarge: 32px;

@mixin grid-spacing() {
  width: 1152px;
  margin: 0px auto;

  @media(max-width: 1153px) and (min-width: 1563px) {
    width: 100%;
  }

  @media(min-width: 1564px) {
    width: 1564px;
  }
}
