$font-family-base: 'Nunito Sans';
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 18px;

$font-size-xsmall: 10px;
$font-size-small: 14px;
$font-size-medium: 20px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
$font-size-xxlarge: 38px;

$line-height-xsmall: 12px;
$line-height-small: 16px;
$line-height-medium: 22px;
$line-height-large: 26px;
$line-height-xlarge: 34px;
$line-height-xxlarge: 42px;

$font-weight-xxlight: 200;
$font-weight-xlight: 300;
$font-weight-light: 400;
$font-weight-bold: 500;
$font-weight-xbold: 600;

$font-family-title: 'Halant';

$font-size-hero: 256px;
$line-height-hero: 132px;
