$font-family-base: 'Helvetica Neue';
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 16px;

$font-size-xsmall: 10px;
$font-size-small: 14px;
$font-size-medium: 20px;
$font-size-large: 24px;
$font-size-xlarge: 32px;

$line-height-paragraph: 28px;

$font-weight-light: 300;
$font-weight-bold: 500;
$font-weight-xbold: 600;

$font-family-title: '';
