@import '__styles__/typography';
@import '__styles__/spacing';
@import '__styles__/colors';
@import '__styles__/media';

.project-link-container {
  width: 33%;

  @include responsive(mobile) {
    width: 100%;
  }

  @include responsive(tablet) {
    width: 50%;
  }

  .project-link {
    display: block;
    margin: $element-spacing-medium;
    padding: $element-spacing-large;
    background-color: $color-black;
    color: $color-white;
    border-radius: 2px;

    .project-title {
      text-transform: capitalize;
      margin-bottom: $element-spacing-medium;
    }

    .project-description {
      line-height: $line-height-large;

      @include responsive(lg-desktop) {
        line-height: $line-height-xlarge;
      }
    }

    &:hover .project-title {
      text-decoration: underline;
    }
  }
}
