@import '__styles__/spacing';
@import '__styles__/colors';

.header-container {
  height: 100px;
  margin-right: $element-spacing-xlarge;

  .logo {
    height: 100%;

    rect {
      fill: $color-black;
    }

    path {
      fill: $color-white;
    }
  }
}
