@import '__styles__/spacing';
@import '__styles__/colors';

.splash-container {
  width: 100%;
  height: 100%;

  .about-container {
    height: 300px;
    border-top: 8px solid $color-black;
    padding: $element-spacing-xlarge $element-spacing-large;
  }
}
