@import '__styles__/typography';
@import '__styles__/spacing';
@import '__styles__/colors';
@import '__styles__/media';

.splash-container {
  width: 100%;
  height: 100%;

  .me-block {
    display: flex;

    .me-text {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .me-title {
        margin-bottom: $element-spacing-medium;
      }

      .me-paragraph {
        line-height: $line-height-large;

        .ha-link {
          color: $color-white;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .me-image {
      width: 20%;
      margin-left: $element-spacing-xlarge;
      filter: grayscale(100%);
    }

    @include responsive(mobile) {
      flex-direction: column-reverse;

      .me-text {
        width: 100%;
      }

      .me-image {
        width: 100%;
        margin-left: 0px;
        margin-bottom: $element-spacing-xlarge;
      }
    }

    @include responsive(tablet) {
      .me-text {
        width: 70%;
      }

      .me-image {
        width: 30%;
      }
    }
  }

  .projects-block {
    .projects-title {
      margin-bottom: $element-spacing-medium;
    }

    .projects-description {
      line-height: $line-height-large;
      margin-bottom: $element-spacing-large;
    }
  }
}
