@import '__styles__/spacing';
@import '__styles__/colors';

.block-container {
  min-height: 300px;

  .block {
    @include grid-spacing();

    padding: 64px;
  }
}

.black {
  background-color: $color-black;
  color: $color-white;
}

.white {
  background-color: $color-white;
  color: $color-black;
  border-top: 4px solid $color-black;
  border-bottom: 4px solid $color-black;
}
