@import '__styles__/typography';
@import '__styles__/spacing';
@import '__styles__/colors';
@import '__styles__/media';

.footer-container {
  display: flex;
  margin: 0 auto;
  padding: 64px;

  @include grid-spacing;

  .nav-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;

    a {
      font-size: $font-size-base;
      color: $color-black;
      margin-bottom: $element-spacing-small;

      &:hover {
        text-decoration: underline;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      @include responsive(mobile) {
        font-size: $font-size-base;
      }
    }
  }

  .social-container {
    .social-link {
      display: inline-block;
      width: 45px !important;
      height: 45px !important;
      margin-right: $element-spacing-large;

      @include responsive(mobile) {
        width: 35px !important;
        height: 35px !important;
        margin-right: $element-spacing-medium;
      }

      &:last-of-type {
        margin-right: 0;
      }

      & > div > svg {
        border-bottom: 3px solid transparent;
        padding-bottom: 2px;
        filter: grayscale(100%) contrast(1000%) brightness(0%);
        border-radius: 0 !important;
      }

      &:hover > div > svg {
        border-bottom: 3px solid $color-black;
      }
    }
  }

  .logo {
    margin-left: auto;
    height: 60px;

    rect {
      fill: $color-black;
    }

    path {
      fill: $color-white;
    }

    path:last-of-type {
      fill: url(#aceGradient);
    }

    @include responsive(mobile) {
      display: none;
    }
  }
}
