@import '__styles__/typography';
@import '__styles__/spacing';
@import '__styles__/colors';
@import '__styles__/media';

.nav-container {
  width: 100%;

  a {
    color: $color-black;
    line-height: $line-height-large;
    font-size: $font-size-large;
    font-family: $font-family-title;
    font-weight: $font-weight-xbold;
    margin-right: $element-spacing-xlarge;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid $color-black;
    }

    @include responsive(mobile) {
      font-size: $font-size-medium;
    }
  }
}
