@import '__styles__/colors';
@import '__styles__/typography';
@import '__styles__/media';

.hero-container {
  display: flex;
  align-items: flex-end;

  @media(max-width: $width-mobile - 1px) {
    height: 500px;
  }

  @media(min-width: $width-mobile) and (max-width: $width-tablet - 1px) {
    height: 600px;
  }

  @media(min-width: $width-tablet) and (max-width: $width-desktop - 1px) {
    height: 700px;
  }

  @media(min-width: $width-desktop) {
    height: 800px;
  }

  .title-container {
    width: 80%;
    font-size: $font-size-hero;
    line-height: 160px;
    margin-left: -1%;
    margin-bottom: -1.25%;
    color: $color-white;
    text-shadow: -1px 0 $color-black, 0 1px $color-black, 1px 0 $color-black, 0 -1px $color-black;

    @media(max-width: $width-mobile - 1px) {
      margin-bottom: -2%;
    }

    @media(min-width: $width-mobile) and (max-width: $width-tablet - 1px) {
      width: 100%;
      margin-bottom: -1.75%;
    }

    svg {
      width: 100%;
      height: auto;

      text {
        font-family: $font-family-title;
        fill: $color-white;
        stroke: $color-black;
        stroke-width: 2px;
      }
    }
  }
}
