@import '__styles__/colors';
@import '__styles__/typography';
@import '__styles__/media';

.hero-container {
  display: flex;
  align-items: flex-end;

  @include responsive(mobile) {
    height: 500px;
  }

  @include responsive(tablet) {
    height: 600px;
  }

  @include responsive(sm-desktop) {
    height: 700px;
  }

  @include responsive(lg-desktop) {
    height: 800px;
  }

  .title-container {
    width: 80%;
    font-size: $font-size-hero;
    line-height: 160px;
    margin-left: -1%;
    margin-bottom: -1.25%;
    color: $color-white;
    text-shadow: -1px 0 $color-black, 0 1px $color-black, 1px 0 $color-black, 0 -1px $color-black;

    @include responsive(mobile) {
      margin-bottom: -2%;
    }

    @include responsive(tablet) {
      width: 100%;
      margin-bottom: -1.75%;
    }

    svg {
      width: 100%;
      height: auto;

      text {
        font-family: $font-family-title;
        fill: $color-white;
        stroke: $color-black;
        stroke-width: 2px;
        font-weight: $font-weight-bold;
      }
    }
  }
}
